.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
}

.left-section {
  display: flex;
  align-items: center;

}

.right-section {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.logo {
  fill: rgb(230, 0, 35);
  display: block;
  height: 25px;
  width: 25px;
  font-size: 12px;
  stroke-width: 0px;
  cursor: auto;
}

.pinterest-logo {
  color: rgb(204, 0, 0);
  display: block;
  font-size: 17px;
  font-weight: 600;
  padding-left: 2.5px;
  text-decoration: none;
}

.tabs {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.tab {
  color: black;
  text-decoration: none;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 10px;

}

.tab.active {
  color: white;
  padding: 10px 10px;
  background-color: black;
  border-radius: 15px;
  font-weight: 600;
}

.search-bar {
  flex: 1;
  min-width: 407px;
  padding: 8px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: rgb(230, 230, 230);
  border: 0;
  font-size: 14px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.nav-log-in,
.nav-sign-up {
  color: white;
  border-radius: 24px;
  padding: 12px 13px;
  transition: background-color 0.3s ease;
  font-size: 13.5px;
  cursor: pointer;
  outline: none;
}

.nav-log-in {
  background-color: #f00505;
  margin-right: 5px;
}

.nav-log-in:hover {
  background-color: darkred;
}

.nav-sign-up {
  background-color: #f0f0f0;
  font-weight: 400;
}

.nav-sign-up:hover {
  background-color: darkgray;
}

.open-modal-button {
  background-color: transparent;
  border: none;
}

.pinterest-svg {
  width: 30px;
  height: 30px;
}
