.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.profile-image-default {
    font-size: 200px;
}

.profile-page-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}