/* .feed-test-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  box-sizing: border-box;
}

.feed-test-photo {
  flex: 0 0 .33%;
  max-width: 90.33%;
  box-sizing: border-box;
  padding: 10px;
}

.feed-test-photo img {
  width: 100%;
  height: auto;
  border-radius: 15px;
} */
